body {
	background-color: #000;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: white;
}

#instructions {
	position: absolute;
	top: 2rem;
	width: 80%;
	height: calc(100% - 4rem);
	margin: 0 10%;
	/* center text */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: lightgray;
}

#instructions p {
	/* cenre */
	text-align: center;
}

#instructions button {
	color: white;
	width: auto;
	margin-top: 30px;
}

#canvas {
}

#parameters {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 2rem; */
	background-color: rgba(52, 52, 52, 0.5);
	z-index: 1000;
	display: grid;
	/* 4 even columns */
	grid-template-columns: repeat(4, 1fr);

	/* padding but without increasing width */
	box-sizing: border-box;
	padding: 0.1rem 1rem 0.36rem 1rem;
	/* centre content */
}
/* for mobile */
@media (max-width: 1150px) {
	#parameters {
		grid-template-columns: repeat(1, 1fr);
	}
}

span {
	all: unset;
	width: 5rem;
}

button {
	all: unset;
	width: 1rem;
}

button:hover {
	cursor: pointer;
	/* bold */
	font-weight: bold;
	/* no select on any device */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.parameter-input {
	margin-right: 0.2rem;
}

.parameter-input:empty:before {
	content: attr(placeholder);
	color: gray;
}

.parameter-input:focus {
	outline: white dashed 1px;
}

/* found this online --- it prevents the user from being able to make a (visible) newline */
.parameter-input br {
	display: none;
}

.parameter-adjust-button {
	/* increase font size */
	font-size: 1.2rem;
}

#sim-info {
	/* transparent div at bottom of screen, but not extending the screen */
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.1rem;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	box-sizing: border-box;
	padding: 0 1rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 10px;
}

/* #num-bodies {
	padding-right: 0;
	margin-right: 0;
} */

#sim-info label {
	/* padding-right: 0.25rem; */
	height: 1rem;
}

/* #num-bodies {
	height: 1rem;
} */
